h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #F49D52;
        background-color: #255F85;
        border: solid;
        border-color: #255F85;
        border-radius: 8px;
        width: 70vw;  
        position: relative;
        margin: auto;
        padding: 5px;
        text-align: center;
    }
h2 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-size: 1.5em;
    }
#navigation {
        display: flex;
        justify-content: center;
    }
.navlink {
        color: #FFC857;
        background-color: #255F85;
        border: solid;
        border-color: #FFC857;
        border-radius: 8px;
        padding: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: Georgia, Times, 'Times New Roman', serif;
    }
.container {
        font-family: Georgia, Times, 'Times New Roman', serif;
        background-color: #D74D45;
        border: solid;
        border-color: #D74D45;
        border-radius: 8px;
        width: 70vw;
        height: fit-content;
        overflow: auto;
        margin: auto;
        display: flex;
        padding-top: 12px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
table, th, td {
        border: solid;
        border-width: 4px;
        border-color: #F49D52;
        border-collapse: collapse;
        font-family: Georgia, Times, 'Times New Roman', serif;
        padding: 10px;
    }
li {
        margin-bottom: 0.8em
    }
.body-image { 
       border: solid;
        border-width: 0px;
        border-radius: 8px;
        margin-bottom: 40px; 
    } 
figcaption {
        font-size: .8em;
        font-style: italic;
        text-align: center;
        opacity: 0.7;
    }
body {
        background-color: #8FADC0;
    }
footer {
        display: flex;
    }
#ayin-portrait {
        position: relative;
        padding-left: 10vw;
        padding-right: 5vw;
        padding-top: 8px;
        height: 200px;
        width: 200px;
    }
#mairen-portrait {
        position: relative;
        padding-left: 8vw;
        padding-right: 12vw;
        padding-top: 58px;
        height: 150px;
        width: 150px;
    }
#nick-portrait {
        position: relative;
        padding-left: 15vw;
        padding-right: 20px;
        padding-top: 8px;
        height: 200px;
        width: 200px;
    }